{% extends 'base.html' %}
{% load i18n %}

{% block title %}Fatal Error Games | Not Found{% endblock %}

{% block menu %}
    <a href="{% url 'news' %}" class="menu_link">{% translate "News" %}</a>
    <a class="menu_link" href="{% url 'project' %}">{% translate "Project" %}</a>
    {% for menu_game in games %}
        {% if menu_game == game %}
            <span class="menu_link active_link">{{ game.title }}</span>
        {% else %}
            <a class="menu_link" href="{% url 'game' menu_game.slug %}">{{ menu_game.title }}</a>
        {% endif %}
    {% endfor %}
    <a href="{% url 'cooperation' %}" class="menu_link">{% translate "Cooperation" %}</a>
{% endblock %}

{% block content %}
    <div class="page_about">
        <h1>404 Not Found</h1>
        <p>
            {% translate "This page is not found" %}
        </p>
    </div>
{% endblock %}
