{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="{% static 'images/feg_alpha.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block head %}{% endblock %}
        <title>{% block title %}Fatal Error Games{% endblock %}</title>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'images/feg_alpha.png' %}">
                    <div class="logo_text">
                        <h1>Fatal Error Games</h1>
                        <p>{% translate "Game study" %}</p>
                    </div>
                </div>
                <div class="languages">
                    {% get_current_language as current_lang %}
                    {% csrf_token %}

                    {% for lang in languages %}
                        {% if lang.code == current_lang|truncatechars:2 %}
                            <span class="language active_language">{{ lang.code }}</span>
                        {% else %}
                            <a href="#" class="language">{{ lang.code }}</a>
                        {% endif %}
                    {% endfor %}

                    <script>
                        let langButtons = document.querySelectorAll('a.language');
                        let csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].getAttribute('value');
                        let url = '/langs/setlang/';

                        for (let button of langButtons) {
                            let lang = button.innerHTML;
                            button.onclick = function() {
                                fetch(url, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json;charset=utf-8',
                                        'X-CSRFToken': csrfToken,
                                    },
                                    body: JSON.stringify({'language': lang}),
                                }).then(response => document.location.reload())
                            };
                        };
                    </script>
                </div>
            </div>
        </header>

        <!-- Menu -->
        <div class="menu">
            <button class="menu_shower">{% translate "Menu" %}</button>
            <div id="menu_list" class="wrapper">
                {% block menu %}
                {% endblock %}
            </div>
        </div>

        <script>
            let menuList = document.getElementById("menu_list");
            let menuShower = document.querySelector(".menu_shower");

            menuShower.onclick = function () {
                menuList.classList.toggle('enabled');
            };
        </script>

        {% block content %}{% endblock %}
    </body>
</html>
