{% extends 'base.html' %}
{% load i18n %}

{% block title %}Fatal Error Games | Cooperation{% endblock %}

{% block menu %}
    <a href="{% url 'news' %}" class="menu_link">{% translate "News" %}</a>
    <a class="menu_link" href="{% url 'project' %}">{% translate "Project" %}</a>
    {% for menu_game in games %}
        {% if menu_game == game %}
            <span class="menu_link active_link">{{ game.title }}</span>
        {% else %}
            <a class="menu_link" href="{% url 'game' menu_game.slug %}">{{ menu_game.title }}</a>
        {% endif %}
    {% endfor %}
    <span class="menu_link active_link">{% translate "Cooperation" %}</span>
{% endblock %}

{% block content %}
    <div class="page_about">
        <h1>{% translate "Cooperation" %}</h1>
        <p>{% translate "Some text" %}</p>
    </div>

    <div class="links">
        <div class="wrapper">
            <a class="discord_link" href="#" target="blank">Discord</a>
            <a class="twitter_link" href="https://twitter.com/FatalErrorDiary" target="blank">Twitter</a>
            <a class="vk_link" href="https://vk.com/fatalerrorgames" target="blank">VK</a>
            <a class="facebook_link" href="https://www.facebook.com/groups/1047182605456797/" target="blank">FaceBook</a>
        </div>
    </div>
{% endblock %}
