{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.css' %}">
{% endblock %}

{% block title %}Fatal Error Games | {{ game.title }}{% endblock title %}

{% block menu %}
    <a href="{% url 'news' %}" class="menu_link">{% translate "News" %}</a>
    <a class="menu_link" href="{% url 'project' %}">{% translate "Project" %}</a>
    {% for menu_game in games %}
        {% if menu_game == game %}
            <span class="menu_link active_link">{{ game.title }}</span>
        {% else %}
            <a class="menu_link" href="{% url 'game' menu_game.slug %}">{{ menu_game.title }}</a>
        {% endif %}
    {% endfor %}
    <a class="menu_link" href="{% url 'cooperation' %}">{% translate "Cooperation" %}</a>
{% endblock %}

{% block content %}
    <div class="game">
        <div class="wrapper">
            <div class="game_preview">
                <img src="{{ game.preview.url }}">
                <div class="game_title">{{ game.title }}</div>
            </div>

            <p class="game_short_description">
                {{ game.short_description }}
            </p>

            <div class="owl-carousel">
                <iframe src="{{ game.video_widget_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% for image in game.images.all %}
                    <img src="{{ image.image.url }}">
                {% endfor %}
            </div>

            <div class="game_description">
                {{ game.description|safe }}
            </div>
        </div>
    </div>

    <script src="{% static 'owlcarousel/jquery.min.js' %}"></script>
    <script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                items: 1,
                nav: true,
            });
        });
    </script>
{% endblock %}
