{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.css' %}">
{% endblock %}

{% block title %}Fatal Error Games | {{ game.title }}{% endblock title %}

{% block languages %}
    {% include 'languages.html' with urlname='game' pk=game.pk %}
{% endblock %}

{% block menu %}
    <a href="{% url 'news' lang %}" class="menu_link">
        {% if lang == 'ru' %}
            Новости
        {% else %}
            News
        {% endif %}
    </a>
    <a class="menu_link" href="{% url 'project' lang %}">
        {% if lang == 'ru' %}
            Проект
        {% else %}
            Project
        {% endif %}
    </a>
    {% for menu_game in games %}
        {% if menu_game == game %}
            <span class="menu_link active_link">{{ game.title }}</span>
        {% else %}
            <a class="menu_link" href="{% url 'game' lang menu_game.pk %}">{{ menu_game.title }}</a>
        {% endif %}
    {% endfor %}
    <a class="menu_link" href="{% url 'cooperation' lang %}">
        {% if lang == 'ru' %}
            Сотрудничество
        {% else %}
            Cooperation
        {% endif %}
    </a>
{% endblock %}

{% block content %}
    <div class="game">
        <div class="wrapper">
            <div class="game_preview">
                <img src="https://misea.ru/images/u/pages/160/src/tree-736885.jpg">
                <div class="game_title">{{ game.title }}</div>
            </div>

            <p class="game_short_description">
                {% if lang == 'ru' and game.short_description_ru %}
                    {{ game.short_description_ru }}
                {% else %}
                    {{ game.short_description }}
                {% endif %}
            </p>

            <div class="owl-carousel">
                <iframe src="{{ game.video_widget_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% for image in game.images.all %}
                    <img src="https://misea.ru/images/u/pages/160/src/tree-736885.jpg">
                {% endfor %}
            </div>

            <div class="game_description">
                {% if lang == 'ru' and game.description_ru %}
                    {{ game.description_ru|safe }}
                {% else %}
                    {{ game.description|safe }}
                {% endif %}
            </div>
        </div>
    </div>

    <script src="{% static 'owlcarousel/jquery.min.js' %}"></script>
    <script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                items: 1,
                nav: true,
            });
        });
    </script>
{% endblock %}

