{% extends 'base.html' %}
{% load i18n %}

{% block title %}Fatal Error Games{% endblock %}

{% block languages %}
    {% include 'languages.html' with urlname='news' %}
{% endblock %}

{% block menu %}
    <span class="menu_link active_link">{% translate "News" %}</span>
    <a class="menu_link" href="{% url 'project' %}">{% translate "Project" %}</a>
    {% for menu_game in games %}
        {% if menu_game == game %}
            <span class="menu_link active_link">{{ game.title }}</span>
        {% else %}
            <a class="menu_link" href="{% url 'game' menu_game.slug %}">{{ menu_game.title }}</a>
        {% endif %}
    {% endfor %}
    <a class="menu_link" href="{% url 'cooperation' %}">{% translate "Cooperation" %}</a>
{% endblock %}

{% block content %}
    <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/FatalErrorDiary?ref_src=twsrc%5Etfw" data-theme="dark">Tweets by FatalErrorDiary</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}
