{% extends 'base.html' %}
{% load i18n %}

{% block title %}Fatal Error Games | Project{% endblock %}

{% block languages %}
    {% include 'languages.html' with urlname='project' %}
{% endblock %}

{% block menu %}
    <a href="{% url 'news' %}" class="menu_link">{% translate "News" %}</a>
    <span class="menu_link active_link">{% translate "Project" %}</span>
    {% for menu_game in games %}
        {% if menu_game == game %}
            <span class="menu_link active_link">{{ game.title }}</span>
        {% else %}
            <a class="menu_link" href="{% url 'game' menu_game.slug %}">{{ menu_game.title }}</a>
        {% endif %}
    {% endfor %}
    <a class="menu_link" href="{% url 'cooperation' %}">{% translate "Cooperation" %}</a>
{% endblock %}

{% block content %}
    <div class="persons">
        <div class="wrapper">
            {% for person in persons %}
                {% include 'person.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

